<div class="container">
<h1>My tasks</h1>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
      <% if task.completed == true %>
        <input type="checkbox" checked>
        <label> <%= link_to task.title, task_path(task) %></label>
        <%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      <% else %>
        <input type="checkbox">
        <label> <%= link_to task.title, task_path(task) %></label>
        <%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "+ Add a new task", new_task_path %>
</div>

</div>
